@import "@/shared/styles/variables.scss";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--bg);
}

button:focus, button:active {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus, a:active {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;

  ::-webkit-scrollbar {
    display: none;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:focus, a:active, a:hover {
  color: black;
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul li {
  list-style: none none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  white-space: nowrap;
}